version: 2
enable-beta-ecosystems: true
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: monthly
    cooldown:
      semver-major-days: 90
      semver-minor-days: 45
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
